
<a [routerLink]="['/']"> Home </a> |
<a [routerLink]="['/question', question._id]">Go Back to Question</a>

<!-- <h1>{{question._id}}</h1> -->
<!-- <input type="text" name="" value=question_id [(ngModel)]="question_id"> -->

<form (submit)="addAnswer()">
	<p>Answer <input type="text" name="title"
		[(ngModel)]="newAnswer.title">
	</p>
	<p>Description <input type="text" name="Description"
		[(ngModel)]="newAnswer.description">
	</p>
	
	<a [routerLink]="['/']"> <button>Cancel</button> </a>

	<input type="submit" name="">

</form>